snippet :pencil2:
	✏

snippet	:pen:
	🖊

snippet :heart:
	❤

snippet :joy:
	😂

snippet :heart_eyes:
	😍

snippet :fire:
	🔥

snippet :in_love_face:
	🥰

snippet :blush:
	😊

snippet :think:
	🤔

snippet :heavy_check_mark:
	✔

snippet :thumbsup:
	👍

snippet :grinning:
	😀

snippet :smiley:
	😃

snippet :smile:
	😄

snippet :grin:
	😁

snippet :laughing:
	😆

snippet :sweat_smile:
	😅

snippet :rotfl:
	🤣

snippet :fine:
	🙂

snippet :upside_down:
	🙃

snippet :wink:
	😉

snippet :innocent:
	😇

snippet :excited:
	🤩

snippet :kissing_heart:
	😘

snippet :kissing:
	😗

snippet :relaxed:
	☺️

snippet :kissing_closed_eyes:
	😚

snippet :kissing_smiling_eyes:
	😙

snippet :yum:
	😋

snippet :stuck_out_tongue:
	😛

snippet :stuck_out_tongue_winking_eye:
	😜

snippet :wild:
	🤪

snippet :stuck_out_tongue_closed_eyes:
	😝

snippet :money_eyes:
	🤑

snippet :hug:
	🤗

snippet :hand_covering_mouth_smiling_face:
	🤭

snippet :shh:
	🤫

snippet :think:
	🤔

snippet :zipit:
	🤐

snippet :eyebrow_raised:
	🤨

snippet :neutral_face:
	😐

