snippet :pencil2:
	✏

snippet	:pen:
	🖊

snippet :heart:
	❤

snippet :joy:
	😂

snippet :heart_eyes:
	😍

snippet :fire:
	🔥

snippet :in_love_face:
	🥰

snippet :blush:
	😊

snippet :think:
	🤔

snippet :heavy_check_mark:
	✔

snippet :thumbsup:
	👍

snippet :grinning:
	😀

snippet :smiley:
	😃

snippet :smile:
	😄

snippet :grin:
	😁

snippet :laughing:
	😆

snippet :sweat_smile:
	😅

snippet :rotfl:
	🤣

snippet :fine:
	🙂

snippet :upside_down:
	🙃

snippet :wink:
	😉

snippet :innocent:
	😇

snippet :excited:
	🤩

snippet :kissing_heart:
	😘

snippet :kissing:
	😗

snippet :relaxed:
	☺️

snippet :kissing_closed_eyes:
	😚

snippet :kissing_smiling_eyes:
	😙

snippet :yum:
	😋

snippet :stuck_out_tongue:
	😛

snippet :stuck_out_tongue_winking_eye:
	😜

snippet :wild:
	🤪

snippet :stuck_out_tongue_closed_eyes:
	😝

snippet :money_eyes:
	🤑

snippet :hug:
	🤗

snippet :hand_covering_mouth_smiling_face:
	🤭

snippet :shh:
	🤫

snippet :think:
	🤔

snippet :zipit:
	🤐

snippet :eyebrow_raised:
	🤨

snippet :neutral_face:
	😐

snippet :expressionless:
	😑

snippet :no_mouth:
	😶

snippet :smirk:
	😏

snippet :unamused:
	😒

snippet :eye_roll:
	🙄

snippet :grimacing:
	😬

snippet :liar:
	🤥

snippet :relived:
	😌

snippet :pensive:
	😔

snippet :sleepy:
	😪

snippet :drooling:
	🤤

snippet :sleeping:
	😴

snippet :mask:
	😷

snippet :ill:
	🤒

snippet :injured:
	🤕

snippet :disgust:
	🤢

snippet :vomit:
	🤮

snippet :sneezing:
	🤧

snippet :hot_face:
	🥵

snippet :cold_face:
	🥶

snippet :drunk:
	🥴

snippet :dizzy_face:
	😵

snippet :exploding_head:
	🤯

snippet :cowboy:
	🤠

snippet :party_face:
	🥳

snippet :sunglasses:
	😎

snippet :nerdy:
	🤓

snippet :monocle:
	🧐

snippet :confused:
	😕

snippet :worried:
	😟

snippet :slightly_sad:
	🙁

snippet :megafrown:
	☹

snippet :open_mouth:
	😮

snippet :hushed:
	😯

snippet :astonished:
	😲

snippet :flushed:
	😳

snippet :pleading:
	🥺

snippet :frowning:
	😦

snippet :anguished:
	😧

snippet :fearful:
	😨

snippet :cold_sweat:
	😰

snippet :disappointed:relieved:
	😥

snippet :cry:
	😢

snippet :sob:
	😭

snippet :scream:
	😱

snippet :confounded:
	😖

snippet :preserve:
	😣

snippet :disappointed:
	😞

snippet :sweat:
	😓

