snippet logif Conditional Logging Block
	if (${1:_log}.Logs(Logger.${2:Finest})) {
		$1.$2("${3:var}", $3)${0}
	}

snippet dump Log Variable Content
	${1:_log}.${2:Finest}("${3:var}", $3)${0}

