snippet head HTML header
	<head>
		<title>${1:My HTML website}</title>
		<meta charset="${2:UTF-8}">
		<meta name="description" content="$1">
		<meta name="viewport" content="width=${3:device-width}, initial-scale=${4:1.0}">
		<link rel="stylesheet" href="${5:styles.css}">$0
	</head>
